:host {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.header {
  margin-top: 50px;
  height: 100px;
}

.main {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;

  .nav {
    color: var(--color-sage-green);

    &.active {
      border-bottom: 2px solid var(--color-sage-green);
    }
  }
}

.footer {
  margin-top: auto;
  margin-bottom: 50px;
}

#close-btn {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 32px;
  color: var(--color-sage-green);
  cursor: pointer;
}
