@mixin flex-center() {
  display: flex;
  align-items: center;
  justify-content: center;
}

:host {
  height: 100%;
  @include flex-center();
}

.container {
  @include flex-center();
  background-color: #fff;
  border-radius: 10px;
  padding: 40px;
}
